@{
        ViewData["Title"] = "Home Page";
}
<div class="text-center" style="margin-top:50px;margin-bottom:50px;">
    <img src="" alt="Tax Calculator" style="margin-bottom:10px" />
    <p>Welcome @User.Identity.Name!</p>
</div>

<div id="Content"></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/web-animations.min.js"></script>
    <script src="~/lib/hammer.min.js"></script>
    <script src="~/lib/muuri.min.js"></script>

}